* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(0, 1%, 16%);
    font-family: 'Roboto', sans-serif;
    height: max-content;
    width: 100%;
    min-width: 100vh;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 6px;
}

