* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(0, 1%, 16%);
    font-family: 'Roboto', sans-serif;
}

header {
    background: linear-gradient(200deg, #04042b, hsl(0, 1%, 16%));
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5.5rem;
    position: relative;
}

.neon-text {
    padding: 1rem;
    border: 1px solid hsl(60, 95%, 42%);
    box-shadow: 0 0 35px hsl(60, 95%, 42%), 0 0 15px hsl(60, 95%, 42%) inset;
}


.neon-text h1 {
    position: relative;
    z-index: 2;
    font-size: 3.5rem;
    font-weight: 700;
    text-shadow: 0 0 10px hsl(288, 98%, 35%),
                 0 0 20px hsl(288, 98%, 35%),
                 0 0 40px hsl(288, 98%, 35%),
                 0 0 80px hsl(288, 98%, 35%),
                 0 0 160px hsl(288, 98%, 35%); 
}


header img {
    width: 19rem;
    position: absolute;
    top: -1.5rem;
    right: 0;
}

main {
    width: 100vw;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.container {
    background-color: hsl(0, 2%, 25%);
    width: 80%;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    margin-top: -1.4rem;
}

.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.7rem 2rem 1rem 2rem;
}

.container-header h2 {
    color: white;
    font-weight: 900;
    font-size: 1.4rem;
}

.container-header a{
    background-color: hsl(0, 3%, 34%);
    border-radius: 0.5rem;
    padding: 0.6rem 0.9rem;
    color: white;
    text-decoration: none;
}

.container-header a:hover {
    background-color: hsl(0, 3%, 37%);
}

#table {
    border-radius: 0.5rem;
    background-color: hsl(0, 2%, 25%);;
    color: white;
    margin: 0 3.5rem;
}


#table tr td {
    border-bottom: .8px solid white;
    margin: 0 .4rem;
}

#table tr td:first-child,
#table tr th:first-child,
#table tr td:nth-child(3), 
#table tr td:last-child {
    padding: .6rem 0; 
    text-align: center;
    width: 10rem;   
}

.container-footer {
    display: flex;
    justify-content: center;
    margin: 1.5rem 0;
}

.container-footer .btn-add-tickets {
    background-color: hsl(0, 3%, 34%);
    border-radius: 0.5rem;
    padding: 1rem 2rem;;
    color: white;
    cursor: pointer;
    border: none;
    font-size: 1rem;
}

.container-footer .btn-add-tickets:hover {
    background-color: hsl(0, 3%, 37%);
}



